fastapi
uvicorn
pydantic
sentence-transformers
scikit-learn
transformers
numpy
chromadb
selenium
PyPDF2
pandas
langchain 
langchainhub 
langchain_community 
chromadb 
accelerate 
torch
beautifulsoup4
langchain-huggingface
ollama
langchain-ollama
webdriver-manager
